body {
  font-family: "Poppins", sans-serif;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
}

.container .logo {
  width: 360px;
  margin: 0 auto;
}

.container .title {
  font-size: 32px;
  color: #494949;
  padding: 0 16px;
  text-align: center;
}

.container .subtitle {
  font-size: 16px;
  text-align: center;
  color: #494949;
  margin-bottom: 8px;
}

.container .flex {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
}

.container .flex .card {
  display: grid;
  justify-content: center;
  text-align: center;
  border: 2px solid #494949;
  background-color: #ffff;
  border-radius: 10px;
  width: 240px;
  margin: 0 auto;
  margin-bottom: 32px;
}
.container .flex .card .text {
  font-size: 22px;
  margin: 0 auto;
}
.container .flex .card .text2 {
  font-size: 18px;
  margin-bottom: 32px;
}

.container .flex .card .excel {
  width: 80%;
  margin: 0 auto;
  padding: 8px;
}

.container .flex .card .pacote {
  width: 76%;
  margin: 0 auto;
  padding: 8px;
}
.container .flex .card .powerbi {
  width: 80%;
  margin: 0 auto;
  padding: 8px;
}
.container .flex .card .excelpowerbi {
  width: 90%;
  margin: 0 auto;
  padding: 8px;
}

.description {
  background-color: #494949;
  color: #ffff;
  border-radius: 10px;
  padding: 8px;
  height: 300px;
}

.button {
  background-color: #11edc8;
  padding: 14px 38px;
  border-radius: 10px;
  text-decoration: none;
  color: #494949;
  font-weight: 600;
}

.description p span {
  color: #ec1c24;
  font-size: 32px;
  font-weight: 600;
}

footer {
  background-color: #494949;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 46px 16px;
}

footer img {
  width: 300px;
  margin: 0 auto;
}

footer span {
  color: #ffff;
  text-align: center;
}
@media (max-width: 768px) {
  .container .flex {
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media (max-width: 426px) {
  .container .logo {
    width: 186px;
  }
  .container .title {
    text-align: center;
    margin-bottom: 16px;
    padding: 0 16px;
    font-size: 18px;
  }
  .container .flex {
    display: block;
    justify-content: center;
    gap: 16px;
  }
  .container .flex .card {
    width: 320px;
  }
  .description {
    height: 260px;
  }
  .button {
    width: 100%;
    padding: 14px 64px;
  }
  .container .flex .card .text2 {
    margin-bottom: 62px;
  }
}
